.contenedorInfo{
    /* background: linear-gradient(to bottom, rgb(0, 0, 73), rgb(94, 0, 117)); */
    background-color: rgb(43, 128, 226);
    border: solid #000;
    border-top-width: 8px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-radius: 15px;
    width: 500px;
    height: 350px;
    margin-bottom: 1px;
    margin-left: 320px;



}
.volver{
        
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border-style: solid;
    border-radius:50px;
}
.name{
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.bienvenidos{
    text-transform: uppercase;
    color: white;
}